<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contactmanager01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contactmanager01.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContactManager01</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContactManager01</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>tbawa.org.au</ADDomain>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADAppIDUri>https://tbawa.org.au/WebApp-contactmanager01.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>5e9921a3-3ca9-454d-9d00-661457232763</ADClientAPPID>
    <ADClientPassword>Kh6+NhoWzQu+8HNqSEye05flXOxprVUAPmLxVV+OlOY=</ADClientPassword>
    <ADReplyUrl>https://contactmanager01.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>904ef14d-b789-4c4c-8ed4-2d8948b8ec07</ADTenantId>
    <ADPostLogoutRedirectUri>https://contactmanager01.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>