@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_CarnivalManagerLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Reports for Lightning Carnival</h1>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
@using (Html.BeginForm("Results", "Reports", FormMethod.Post, new { @class = "form-inline", @name = "Results", @style = "display:inline" }))
{
    <input type="submit" class="btn btn-default btn-lg" value="Ladder for Games 1-3" />
}
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
@using (Html.BeginForm("ScoreSlips", "Reports", FormMethod.Post, new { @class = "form-inline", @name = "ScoreSlips", @style = "display:inline" }))
{
    <input type="submit" class="btn btn-default btn-lg" value="Score Slips" />@: for time slot (1 - 8) <input type = "text" name = "timeSlot" /> (optional)
}
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
@using (Html.BeginForm("FinalResults", "Reports", FormMethod.Post, new { @class = "form-inline", @name = "FinalResults", @style = "display:inline" }))
{
    <input type="submit" class="btn btn-default btn-lg" value="Finals Laddder" />
}
    </div>
</div>