@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TBAWA Association Management System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Managing Members</h2>
        <p>
        </p>
        <p><a class="btn btn-default btn-lg" href="/Clubs/Index">Start here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Managing Carnivals</h2>
        <p></p>
        <p><a class="btn btn-default btn-lg" href="/Comps/Index">Start here &raquo;</a></p>
    </div>
</div>