<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://membermanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>membermanager.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MemberManager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MemberManager</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="tbawaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:tbawa.database.windows.net,1433;Initial Catalog=tbawa;User ID=appadmin@tbawa;Password=Tbawa2016" Name="Data Source=tcp:tbawa.database.windows.net,1433;Initial Catalog=tbawa;User Id=appadmin@tbawa;Password=Tbawa2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MemberManager.Models.tbawaEntities, MemberManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="tbawaConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tbawa.database.windows.net;Initial Catalog=tbawa;Persist Security Info=True;User ID=appadmin;Password=Tbawa2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\tbawaConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tbawa.database.windows.net;Initial Catalog=tbawa;Persist Security Info=True;User ID=appadmin;Password=Tbawa2016;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="tbawaEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tbawa.database.windows.net;Initial Catalog=tbawa;Persist Security Info=True;User ID=appadmin;Password=Tbawa2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\tbawaEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tbawa.database.windows.net;initial catalog=tbawa;persist security info=True;user id=appadmin;password=Tbawa2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>tbawa.org.au</ADDomain>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADAppIDUri>https://tbawa.org.au/WebApp-membermanager.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>a1472adc-7389-4abb-8e12-7b186c48487b</ADClientAPPID>
    <ADClientPassword>si9+dJISSU+MsEEqYAZBV5akd7CR2wOJ+wGnY7nrIBU=</ADClientPassword>
    <ADReplyUrl>https://membermanager.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>904ef14d-b789-4c4c-8ed4-2d8948b8ec07</ADTenantId>
    <ADPostLogoutRedirectUri>https://membermanager.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tbawaConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tbawaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MemberModel.csdl|res://*/Models.MemberModel.ssdl|res://*/Models.MemberModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:tbawa.database.windows.net,1433;Initial Catalog=tbawa;User Id=appadmin@tbawa;Password=Tbawa2016"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tbawaEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>